@import "../../styles/variables";

.filter {
  display: flex;
  margin-bottom: 50px;
  align-items: center;

  @media ($tabletP) {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
}

.filterItem {
  margin-right: 5px;
  padding: 5px 25px;
  border-radius: var(--common-border-radius, $commonBorderRadius);
  border: none;
  background-color: var(--purple-light, $customPurpleL);
  font-weight: 500;
  font-size: 14px;
  color: var(--text-primary, #fff);
  cursor: pointer;
  transition: background-color .2s;

  @media ($tabletP) {
    margin-bottom: 5px;
  }

  &:hover {
    background-color: var(--purple-primary, $customPurple);
  }
}

.filterItemActive {
  composes: filterItem;
  background-color: var(--purple-primary, $customPurple);

  &:hover {
    background-color: var(--purple-dark, $customPurpleH);
  }
}

.title {
  margin-right: 10px;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-primary, $textColor);

  @media ($tabletP) {
    width: 100%;
    margin: 0 0 10px;
  }
}