@import '../../styles/variables';
@import '../../styles/media';

.title {
  /* &[h3] */
  display: inline-block;
  margin: 0;
  padding: 4px 15px;
  border: 2px solid var(--default-color, $defaultColor);
  border-radius: var(--common-border-radius, $commonBorderRadius);
  background: var(--bg-primary, $backgroundColor);
  font-size: 16px;
  font-weight: 500;
  transform: translateY(-50%);
}

.group {
  margin: 0 ($containerPHDesktop * -1) + 10 40px;
  padding: 0 $containerPHDesktop - 10 25px;
  border: 2px solid transparent;
  border-radius: var(--common-border-radius, $commonBorderRadius);

  @media ($tabletP) {
    margin: 0 ($containerPHTablet * -1) + 10 30px;
    padding: 0 $containerPHTablet - 10 15px;
  }
}

.isFav {
  composes: group;
  border-color: var(--fav-color, $favColor);

  .title {
    border-color: var(--fav-color, $favColor);
  }

  /* vacancy description todo mixin */
  :global(.popup) {
    box-shadow: var(--shadow-params, $shadowParams) var(--fav-color, $favColor);
  }
}

.isNew {
  composes: group;
  border-color: var(--new-color, $newColor);

  .title {
    border-color: var(--new-color, $newColor);
  }

  /* vacancy description todo mixin */
  :global(.popup) {
    box-shadow: var(--shadow-params, $shadowParams) var(--new-color, $newColor);
  }

  sup {
    display: none;
  }
}

.exp3 {
  composes: group;
  border-color: var(--exp3-color, $exp3Color);

  .title {
    border-color: var(--exp3-color, $exp3Color);
  }

  /* vacancy description todo mixin */
  :global(.popup) {
    box-shadow: var(--shadow-params, $shadowParams) var(--exp3-color, $exp3Color);
  }

  :global(.text--exp3) {
    color: var(--link-color, $linkColor);
  }
}

.exp6 {
  composes: group;
  border-color: var(--exp6-color, $exp6Color);

  .title {
    border-color: var(--exp6-color, $exp6Color);
  }

  /* vacancy description todo mixin */
  :global(.popup) {
    box-shadow: var(--shadow-params, $shadowParams) var(--exp6-color, $exp6Color);
  }

  :global(.text--exp6) {
    color: var(--link-color, $linkColor);
  }
}

.isJun {
  composes: group;
  border-color: var(--jun-color, $junColor);

  .title {
    border-color: var(--jun-color, $junColor);
  }

  /* vacancy description todo mixin */
  :global(.popup) {
    box-shadow: var(--shadow-params, $shadowParams) var(--jun-color, $junColor);
  }

  :global(.text--isJun) {
    color: var(--link-color, $linkColor);
  }
}

.isSalary {
  composes: group;
  border-color: var(--salary-color, $salaryColor);

  .title {
    border-color: var(--salary-color, $salaryColor);
  }

  /* vacancy description todo mixin */
  :global(.popup) {
    box-shadow: var(--shadow-params, $shadowParams) var(--salary-color, $salaryColor);
  }

  :global(.isSalary) {
    display: none;
  }
}

.default {
  composes: group;
  border-color: var(--default-color, $defaultColor);

  .title {
    border-color: var(--default-color, $defaultColor);
  }

  /* vacancy description todo mixin */
  :global(.popup) {
    box-shadow: var(--shadow-params, $shadowParams) var(--default-color, $defaultColor);
  }
}